:root {
  --purple: #6c4daa;
  --black: #15121b;
  --dkpurple: #4b0d49;
  --pink: #f0519d;
  --lightpink: #d889cf;
  --lemon: #ffa600;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
  --nav-height: 5rem;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--purple);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}
img {
  width: 100%;
}
/* background colors and gradients */
#nav--gradient {
  position: sticky;
  top: 5rem;
}
.gradient {
  background: rgb(231, 55, 147);
  background: linear-gradient(
    90deg,
    rgba(231, 55, 147, 1) 0%,
    rgba(76, 241, 247, 1) 100%
  );
  height: 2px;
}
.section-black {
  background-color: var(--black);
}
/* background colors and gradients */

/* navbar */
nav {
  font-family: var(--mono);
  font-size: 100%;
  background: var(--purple);
  padding: 1rem;
  height: var(--nav-height);
  position: sticky;
  top: 0;
}
nav h1 a {
  font-family: var(--sans);
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
}
nav li:first-child {
  flex-basis: 100%;
  justify-content: flex-start;
  text-align: center;
}
nav [class*="fa-"] {
  font-size: 150%;
  color: var(--lemon);
}
nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--lemon);
}
nav a {
  color: var(--white);
  text-decoration: none;
}
nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--lightpink);
}
.button {
  font-family: var(--mono);
  text-decoration: none;
  color: var(--white);
  background-color: var(--pink);
  padding: 0.5rem;
  border-radius: 5px;
}
.button:hover {
  color: var(--white);
  background-color: var(--lightpink);
}
@media (min-width: 850px) {
  nav {
    max-width: 100%;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
/* end of navbar */

/* about page */
#about {
  max-width: 850px;
  margin: 0 auto 0 auto;
  text-align: center;
  padding: 1rem 0 1.8rem 0;
}
#about p {
  margin: 1rem 0 2rem 0;
  line-height: 2rem;
}
#hobbies {
  margin-bottom: 2.5rem;
}
#hobbies h2 {
  margin: 2rem 0 1rem 0;
  text-align: center;
}
#hobbies ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 3rem;
  justify-content: center;
  padding: 0;
}
#hobbies li {
  background-color: var(--purple);
  color: white;
  border-radius: 5px;
  height: 4rem;
  width: 20rem;
  text-align: center;
  padding: 1rem 0 1rem 0;
}
#hobbies li:hover {
  color: var(--lemon);
  transition: all 0.5s ease;
  transform: scale(1.02);
}
/* end of about page */

/* intro */

.bg-home {
  display: flex;
  flex-flow: column wrap;
  height: calc(100vh - var(--nav-height));
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background-color: var(--black);
}
#intro img {
  border: 3px solid white;
  border-radius: 200px;
  max-width: 15vw;
}
#intro p {
  font-size: 1.2rem;
  font-family: var(--mono);
}
#intro span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--lemon);
  text-align: center;
}
#intro a {
  margin-top: 1;
}

/* end of intro */

/* projects section */
#projects {
  padding: 4rem 1rem;
}
#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
  text-align: center;
}
#projects a {
  color: var(--white);
}
#projects a:hover {
  color: var(--lightpink);
}
#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}
.projectbox {
  background-color: var(--purple);
  padding: 1rem;
  border-radius: 5px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--mono);
}
#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}
#projects img {
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--lemon);
  border-top: 1px solid var(--lemon);
  border-radius: 25px;
  padding: 1rem;
}
@media (min-width: 80px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
  #projects {
    max-width: 1920px;
    margin: 0 auto;
  }
  #projects img {
    grid-column: 2/7;
    grid-row: 1/2;
  }
  .text {
    grid-column: 6/10;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }
  #projects ul {
    justify-content: flex-end;
  }
  #projects .reverse .text {
    grid-column: 2/6;
    order: 2;
    text-align: left;
  }
  #projects .reverse img {
    grid-column: 5/10;
    grid-row: 1/2;
  }
  #projects .reverse ul {
    justify-content: flex-start;
  }
}
/* end of projects section */

/* contact section */
#contact {
  width: 400px;
  margin: 1rem auto;
  text-align: center;
  background-color: var(--black);
}
.section-dkpurple {
  width: 100%;
  background-color: var(--black);
  padding: 3rem 0 3rem 0;
}
#contact p {
  line-height: 1.5rem;
  padding-bottom: 1rem;
  font-family: var(--sans);
}

/* end of contact section */

/* footer */
footer {
  background-color: var(--purple);
  margin-top: auto;
}
footer h2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 3rem;
  margin: 0 auto;
}
footer ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 4rem;
  padding: 0;
  margin: 1rem;
  font-size: 4rem;
}
footer [class*="fa-"] {
  color: var(--lemon);
}
footer [class*="fa-"]:hover {
  color: var(--lightpink);
}
footer p {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 3rem;
  margin: 0 auto;
}
