:root {
  --purple: #6c4daa;
  --black: #15121b;
  --dkpurple: #4b0d49;
  --pink: #f0519d;
  --lightpink: #d889cf;
  --lemon: #ffa600;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
  --nav-height: 5rem;
}
html {
  box-sizing: border-box;
  width: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
  width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}
img {
  width: 100%;
}

/* background colors and gradients */
#nav--gradient {
  position: sticky;
  top: 5rem;
}
.gradient {
  background: rgb(231, 55, 147);
  background: linear-gradient(
    90deg,
    rgba(231, 55, 147, 1) 0%,
    rgba(76, 241, 247, 1) 100%
  );
  height: 2px;
  margin: 0;
  padding: 0;
}
.section-black {
  background-color: var(--black);
  width: 100%;
  padding: 1rem 0 1rem 0;
}
/* end background colors and gradients */

/* navbar */
nav {
  font-family: var(--mono);
  font-size: 100%;
  background: rgb(145, 38, 139);
  background: linear-gradient(
    90deg,
    rgba(145, 38, 139, 1) 0%,
    rgba(108, 77, 170, 1) 67%,
    rgba(108, 77, 170, 1) 100%
  );
  padding: 1rem;
  height: var(--nav-height);
  position: sticky;
  top: 0;
}
nav h1 a {
  font-family: var(--sans);
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}
nav li:first-child {
  justify-content: flex-start;
  text-align: center;
  margin-right: auto;
}
nav [class*="fa-"] {
  font-size: 2rem;
  color: var(--lemon);
}
nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--lemon);
}
nav a {
  color: var(--white);
  text-decoration: none;
}
nav a:hover,
nav [class*="fa-"]:hover {
  color: #ffd485;
}
.button {
  font-family: var(--mono);
  text-decoration: none;
  color: var(--white);
  background-color: var(--pink);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.button:hover {
  color: var(--pink);
  background-color: #ffd485;
  box-shadow: 3px 3px 3px #ffa600;
}
/* end of navbar */

/* intro */
.bg-home {
  display: flex;
  flex-flow: column wrap;
  height: calc(100vh - var(--nav-height));
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background-color: var(--black);
}
#intro img {
  border: 3px solid white;
  border-radius: 200px;
  margin: 0;
}
.img--container {
  max-width: 16rem;
}
#intro p {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0.5rem;
}
#intro span {
  font-family: var(--mono);
  font-size: 3rem;
  color: white;
  text-align: center;
}
#intro a {
  margin-top: 0.5rem;
}
/* end of intro */

/* projects section */
#projects {
  padding: 4rem 1rem;
}
#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
  text-align: center;
}
#projects a {
  color: var(--white);
}
#projects a:hover {
  color: #ffd485;
}
#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}
.projectbox {
  background-color: var(--purple);
  padding: 1rem;
  border-radius: 2rem;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--mono);
}
#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}
#projects img {
  margin: 2rem 0 4rem 0;
  border-radius: 2rem;
  padding: 1rem;
  grid-column: 2/6;
  grid-row: 1/2;
}
@media (min-width: 80px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
  #projects {
    max-width: 1920px;
    margin: 0 auto;
  }
  .text {
    grid-column: 6/10;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }
  #projects ul {
    justify-content: flex-end;
  }
  #projects .reverse .text {
    grid-column: 2/6;
    order: 2;
    text-align: left;
  }
  #projects .reverse img {
    grid-column: 6/10;
    grid-row: 1/2;
  }
  #projects .reverse ul {
    justify-content: flex-start;
  }
}
/* end of projects section */

/* contact section */
#contact {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--black);
  padding-bottom: 1rem;
}
#contact p {
  line-height: 2rem;
  padding-bottom: 1rem;
  font-family: var(--sans);
}
#contact h2 {
  margin: 0;
}
/* end of contact section */

/* footer */
footer {
  background-color: var(--purple);
  margin-top: 0;
  background: linear-gradient(
    90deg,
    rgba(145, 38, 139, 1) 0%,
    rgba(108, 77, 170, 1) 67%,
    rgba(108, 77, 170, 1) 100%
  );
}
footer h2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 1rem;
  font-size: 1rem;
}
footer ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  margin: 0rem;
  font-size: 3rem;
}
footer [class*="fa-"] {
  color: var(--lemon);
}
footer [class*="fa-"]:hover {
  color: #ffdea0;
}
footer p {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 1rem;
  margin: 0 auto;
  font-size: 1rem;
}
/* end of footer */

/* about page */
#about,
#hobbies {
  margin: 3rem auto 3rem auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 980px;
  text-align: center;
}
#about h2 {
  text-align: center;
  font-size: 3rem;
}
#about p {
  margin: 1rem 0 2rem 0;
  line-height: 2rem;
}
#about--button {
  width: 12rem;
  text-align: center;
  margin: 0 auto 0 auto;
}
#hobbies h2 {
  margin: 1.5rem auto 0 auto;
  text-align: center;
}
/* end of about page */

/* Media */
@media (min-width: 780px) and (max-width: 1000px) {
  nav {
    font-size: 95%;
  }
  #about,
  #hobbies {
    max-width: 85%;
  }
}
@media (max-width: 780px) {
  .nav-span {
    display: none;
  }
  nav {
    font-size: 75%;
    width: 100%;
    height: 4rem;
    letter-spacing: -1px;
  }
  #nav--gradient {
    top: 4rem;
  }
  nav ul {
    flex-flow: row nowrap;
    gap: 0.5rem;
    justify-content: space-evenly;
  }
  nav a {
    color: var(--white);
    text-decoration: none;
  }
  nav [class*="fa-"] {
    font-size: 1.4rem;
    color: var(--lemon);
  }
  #about,
  #hobbies {
    max-width: 85%;
  }
  #about p,
  #hobbies p {
    font-size: 80%;
    line-height: 1.5rem;
  }
  .button {
    padding: 0.3rem;
    border-radius: 0.3rem;
  }
  .bg-home {
    height: calc(100vh - 3rem);
  }
  #intro img {
    border: 3px solid white;
    border-radius: 160px;
  }
  .img--container {
    max-width: 17rem;
  }
  #intro p {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem;
  }
  #intro span {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  #intro a {
    margin-top: 1;
    padding: 0.5rem;
  }

  #projects {
    padding: 1.2rem 2rem;
  }
  #projects h2 {
    margin-bottom: 2rem;
  }
  #projects a {
    font-size: 80%;
  }
  #projects h4 {
    font-size: 75%;
  }
  #projects ul {
    flex-flow: row nowrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  .projectbox {
    background-color: var(--purple);
    padding: 0.8rem 0.5rem 0.8rem 0.5rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    line-height: 1.2rem;
    border: solid var(--lemon);
    border-width: 1.5px;
  }
  #projects img {
    display: none;
  }
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
  #projects {
    max-width: 1920px;
    margin: 0 auto;
  }
  .text {
    grid-column: 3 / span 9;
    grid-row: 2/4;
    text-align: right;
  }
  #projects ul {
    justify-content: flex-end;
  }
  #projects .reverse .text {
    grid-column: 1 / 9;
    grid-row: 1 / 4;
    text-align: left;
  }
  #projects .reverse img {
    display: none;
  }
  #projects .reverse ul {
    justify-content: flex-start;
  }

  #contact {
    width: 88%;
    margin: 1.5rem auto 2rem auto;
    padding: 0;
  }
  #contact p {
    line-height: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 80%;
    width: 95%;
    margin: 1rem auto 1rem auto;
  }
  #hobbies h2 {
    max-width: 80%;
  }
}
/* Media */
